<!--a class="btn btn-small" href="{# admin.generateObjectUrl('transacciones', object,{'id': object.id })  #}">Transacciones</a-->
<a class="btn btn-small" href="{{ path('admin_circulo_vega_oss_pacientes_list', {'id': object.id })  }}">PACIENTES</a>