<!--a class="btn btn-small" href="{# admin.generateObjectUrl('transacciones', object,{'id': object.id })  #}">Transacciones</a-->
<a class="btn btn-small" href="{{ path('admin_circulo_vega_atenciones_practicas_list', {'id': object.id })  }}">PRACTICAS</a>