<!--a class="btn btn-small" href="{# admin.generateObjectUrl('transacciones', object,{'id': object.id })  #}">Transacciones</a-->

{% if object.atenciones | length > 0 %}

	<a class="btn btn-small" href="{{ path('admin_circulo_vega_oss_practicas_list')  }}">PRACTICAS</a>

{% endif %}